* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    float: inline-end;
    justify-content: center;
    border: solid white 10px;
    align-content: center;
    align-content: flex-start;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.carta {
    float: calc();
    border-radius: 20px;
    background-color: #233e74;
    width: 475px;
    padding: 90px;
    height: 600px;
    box-shadow: 1px 1px 5px rgb(128, 124, 124);
}

.carta .carta {
    overflow: hidden;
    transition: all 0.25s;
}

.cardFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.cardFoto img {
    width: 150px;
    border-radius: 70px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 2px 5px, rgb(250, 250, 250) 0px 0px 0px 5px;
}

.parrafo {
    color: #8f99b2;
}

.imgMain {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.heart-icon {
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}